<h1>Movies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Director</th>
      <th>Image</th>
      <th>Duration</th>
      <th>Release Date</th>
      <th>Genres</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">  
          <td>{{ movie.Name }}</td>
          <td>{{ movie.Director }}</td>
          <td>{{ movie.ImageUrl }}</td>
          <td>{{ movie.Duration }}</td>
          <td>{{ movie.ReleaseDate }}</td>
          <td>{{ movie.Genres }}</td>      
    </tr>
  </tbody>
</table>
